body{
    text-align: center;
}
h1{
    
    color:darkslategray;
    font-size: 30px;
}
.calcDisplay{
    margin: 10px;
    padding: 10px;
    text-align: right;
    width: 330px;
    height: 30px;
    background-color: darkkhaki;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid black;
    
}

form{
    text-align: center;
    padding: 5px;
}

table, th, td {
     border: 1px solid gray;
    background-color: bisque;
}

th, td {
   
}

.calcButton{
    padding: 5px;
    background-color:antiquewhite;
    width: 50px;
    height: 30px;
}

.button {
    background-color:firebrick; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}

input[value] {
    font-size: 15px;
}

footer{
    
}